.body
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.85;
    z-index: -2;
}

.button2
{
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border-color: black;
    background-color: #555555;
}

h2
{
    color: black;
    opacity: 0.85;
    overflow: hidden;
    margin: auto;
    font-size: 120%;
}

.content
{
    width: 80%;
    position: absolute;
    top: 7%;
    bottom: 7%;
}

p
{
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    height: 100%;
    color: white;
    overflow: scroll;
    font-family: Areal;
}

img
{
    width: 15%;
    height: auto;
    position: relative;
    float: right;
    right: 10%;
    border-radius: 50%;
    background-color: white;
}

.name
{
    font-size: 30px;
}

.title
{
    font-size: 20px;
    text-decoration:underline;
}

.single_line
{
    text-decoration:underline;
}

.double_line
{
    text-decoration:underline;
}

.padding
{
    padding-left: 30px;
}
